/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-height: 100%;
}

/* Generics */
body {
    font-family: 'Kanit', sans-serif;;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* Utils */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Title */
#title-text {
    color: #E5316F;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0px;
}

.title-description {
    text-align: center;
    margin: 40px 0px;
}

/* Cards */
.row {
    margin: 0 -4px;
}

.card {
    margin: 15px 4px;
    background-color: black;
    width: calc(100% / 3 - 8px);
    height: 90px;
    float: left;
}
.card > img {
    float: left;
}

.card-details {
    padding: 6px;
    margin-left: 3px;
    float: left;
}

.card-details > h3,
.card-details > p {
    color: white;
}

.card-details > a[href] {
    color: #2E95D4;
    text-decoration: none;
}
