/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-height: 100%;
}

/* Generics */
body {
    font-family: 'Kanit', sans-serif;;
}

/* Utils */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Cards */
.card {
    background-color: black;
    width: 320px;
    height: 90px;
}
.card > img {
    float: left;
}

.card-details {
    padding: 6px;
    margin-left: 3px;
    float: left;
}

.card-details > h3, p {
    color: white;
}

.card-details > a[href] {
    color: #2E95D4;
    text-decoration: none;
}
